<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>tushar's world</title>
</head>
<body>
    <h1>hello tushar virdiya</h1>
    <div class="horror">
        <img class="img" src="{% static 'images/83434.jpg' %}" alt="horror">
        <img class="img" src="{% static 'images/365373.jpg' %}" alt="horror">
    </div>
    <form action="">
        <input type="button" value="click" class="btn" onclick="disp()">
    </form>
    <script src="{% static 'js/all.js' %}"></script>
</body>
</html>